<mat-toolbar color="primary" class="top-bar">
  <button mat-button class="image-button">
    <img src="/images/mikroBibliotekaLogo.png" alt="Logo" class="logo" />
    mikroBiblioteka
  </button>

  <span class="spacer"></span>

  <button
    mat-raised-button
    color="accent"
    class="top-bar-button file-button"
    (click)="fileInput.click()"
  >
    Upload File
  </button>
  <input
    type="file"
    hidden
    (change)="onFileSelected($event)"
    #fileInput
  />
</mat-toolbar>

<div class="content">
  <h1>Welcome to mikroBiblioteka !!</h1>

  <div *ngIf="selectedFile" class="file-info">
    <p>Selected file: {{ selectedFile.name }}</p>
    <button mat-flat-button color="primary" (click)="onUpload()">Send File</button>
  </div>

  <div *ngIf="uploadSuccess" class="success">
    File uploaded successfully!
  </div>

  <div *ngIf="uploadError" class="error">
    {{ uploadError }}
  </div>

  <div class="files-list" *ngIf="files.length > 0">
    <h2>Files in database:</h2>

    <table class="files-table">
      <tr>
        <th>Name</th>
        <th>Size (bytes)</th>
        <th> </th>
        <th> </th>
      </tr>

      <tr *ngFor="let file of files">
        <td>{{ file.name }}</td>
        <td>{{ file.size }}</td>
        <td class="download-cell">
          <button class="download-btn" (click)="download(file)">
            <mat-icon>download</mat-icon>
          </button>
        </td>
        <td>
          <button class="delete-btn" (click)="delete(file)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
