

.top-bar {
  background-color: #0b2315 !important;
  display: flex;
  padding: 15px 30px;
}

.image-button {
  gap: 20px;
  background: none !important;
}

.logo {
  width: 140px;
  height: auto;
}

.top-bar button {
  background: var(--color-separator);
  border: none;
  color: var(--color-button-text);
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 20px;
}

.top-bar button:hover {
  opacity: 0.7;
}

.file-button{
  position: absolute;
  right: 20px;
  top: 50px;
  transform: translateY(-50%);
}

.separator {
  width: 3px;
  height: 28px;
  margin-left: 20px;
  margin-right: 25px;

  background: var(--color-separator);
  border-radius: 2px;
}

.content {
  padding: 20px;
  text-align: center;
}

.file-info {
  margin-top: 20px;
  font-size: 18px;
}

.file-info button {
  background-color: var(--color-separator);
  color: var(--color-button-text);
  font-size: 18px;
}

.file-info button:hover {
  opacity: 0.7;
}

.success {
  color: var(--color-separator);
  margin-top: 20px;
  font-size: 20px;
}

.error {
  color: red;
  margin-top: 20px;
  font-size: 20px;
}

.files-list {
  margin-top: 40px;
}

.files-table {
  width: 70%;
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 18px;
}

.files-table th, .files-table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.files-table th {
  background-color: var(--color-separator);
  color: var(--color-button-text);
}


.download-btn {
  background-color: #2f7b3a;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s ease;
}

.download-btn mat-icon {
  color: #ffffff;
  font-size: 20px;
}

.download-btn:hover {
  background-color: #3e8f4b;
  transform: scale(1.1);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
}

.download-btn:active {
  transform: scale(0.95);
}


.delete-btn {
  background-color: #8b1e1e;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s ease;
}

.delete-btn mat-icon {
  color: #ffffff;
  font-size: 20px;
}

.delete-btn:hover {
  background-color: #b03030;
  transform: scale(1.1);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.filter-field {
  margin-right: auto;
  display: flex;
  width: 600px;
  margin-bottom: 1rem;
  margin-left: 15px;
}


.filter-field input {
  color: white;
  background-color: #0b2315;
  width: 250px;
  padding: 8px 12px;
  border: 2px solid #385a46;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
  margin-left: 15px;
}

.filter-field::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.filter-field input:hover {
  border-color: var(--color-separator);
  box-shadow: 0 0 4px var(--color-separator);
}
