

.top-bar {
  background-color: #0b2315 !important;
  display: flex;
  padding: 15px 30px;
}

.image-button {
  gap: 20px;
  background: none !important;
}

.logo {
  width: 140px;
  height: auto;
}

.top-bar button {
  background: var(--color-separator);
  border: none;
  color: var(--color-button-text);
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 20px;
}

.top-bar button:hover {
  opacity: 0.7;
}

.file-button{
  position: absolute;
  right: 20px;
  top: 50px;
  transform: translateY(-50%);
}

.separator {
  width: 3px;
  height: 28px;
  margin-left: 20px;
  margin-right: 25px;

  background: var(--color-separator);
  border-radius: 2px;
}

.content {
  padding: 20px;
  text-align: center;
}

.file-info {
  margin-top: 20px;
  font-size: 18px;
}

.file-info button {
  background-color: var(--color-separator);
  color: var(--color-button-text);
  font-size: 18px;
}

.file-info button:hover {
  opacity: 0.7;
}

.success {
  color: var(--color-separator);
  margin-top: 20px;
  font-size: 20px;
}

.error {
  color: red;
  margin-top: 20px;
  font-size: 20px;
}

.files-list {
  margin-top: 40px;
}

.files-table {
  width: 70%;
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 18px;
}

.files-table th, .files-table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.files-table th {
  background-color: var(--color-separator);
  color: var(--color-button-text);
}


.download-btn {
  background-color: #2f7b3a;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s ease;
}

.download-btn mat-icon {
  color: #ffffff;
  font-size: 20px;
}

.download-btn:hover {
  background-color: #3e8f4b;
  transform: scale(1.1);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
}

.download-btn:active {
  transform: scale(0.95);
}