frontend/node_modules/
backend/target/
mongo-data/_mdb_catalog.wt
mongo-data/collection-2cd9d300-b1c3-4c5b-a22a-ba6a36bb2b31.wt
mongo-data/collection-98f4eb6c-dfd6-49c7-ad25-6e9f4e76832c.wt
mongo-data/collection-74096a66-6a77-49af-9069-ce5411005c1c.wt
mongo-data/collection-a93329e0-3823-460d-bba5-40fd482d871c.wt
mongo-data/index-2a78407d-bb0d-4ca1-a397-af07bce0375b.wt
mongo-data/index-440dc9d0-8ca7-4ed3-ba1e-01c92d2296a0.wt
mongo-data/index-adbd6cd2-6477-4208-95ed-a00bc699c5ba.wt
mongo-data/index-b88c7ece-2185-4221-8617-b17a3224e8db.wt
mongo-data/index-cc1fbf30-71c2-43c3-98e1-1e148908ac13.wt
mongo-data/index-d4d90fa0-1174-4153-8b3f-a488b79f2cef.wt
mongo-data/mongod.lock
mongo-data/sizeStorer.wt
mongo-data/storage.bson
mongo-data/WiredTiger
mongo-data/WiredTiger.lock
mongo-data/WiredTiger.turtle
mongo-data/WiredTiger.wt
mongo-data/WiredTigerHS.wt
mongo-data/*