:root {
  --color-background: #092e19;
  --color-text: white;
  --color-separator: #4e904b;
  --color-button-text: white;
}

body, html {
  margin-top: 10px;
  padding: 0;
  height: 100%;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: Arial, sans-serif;
}